<div class="card-body">
  <!--если то ангуляр поймето, что * - структурная директива, # - атрибутная директива-->
  <!--<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" novalidate>-->
  <!--#userForm - ссылка на объект класс ащкь групп-->
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" novalidate>
    <div class="form-group">
      <label>Coffee time</label>
      <input type="text" class="form-control" autofocus required name="coffee" pattern="[a-zA-Z][a-z]+" ngModel>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" name="email" ngModel>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" checked name="size" value="short" ngModel>
        Short
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" name="size" value="tall" ngModel>
        Tall
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" name="size" value="grate" ngModel>
        Grate
      </label>
    </div>
    <div class="form-group">
      <label class="form-check-label"></label>
      <select class="form-control" name="flavour" ngModel>
        <option value="">None</option>
        <option value="caramel">Caramel</option>
        <option value="vanilla">Vanilla</option>
        <option value="mocha">Mocha</option>
        <option value="cinnamon">Cinnamon</option>
      </select>
    </div>
    <div class="form-group">
      <label>Caffeine Strength</label>
      <input type="range" class="custom-range" name="strength" value="50" ngModel>
    </div>
    <button type="submit" class="btn btn-outline-secondary">Submit</button>
    <button type="reset" class="btn btn-outline-secondary bbutt">Reset</button>
  </form>
</div>
