<!--навигатор с роутингом SPA - раутинг по одностраничной аппликации-->
<ul class="nav">
  <li class="nav-item" routerLinkActive="active current">
    <!--дбавляет роутинги в хреф-->
    <!--<a href="/books" class="nav-link">-->
    <!--нет звездочки потому что это не деректива изменяюща лист-->
    <a routerLink="/books" class="nav-link">
      Books list
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/addbook" class="nav-link" routerLinkActive="active current">
      Add book
    </a>
  </li>
</ul>
