<input type="text" style="width: 100%" [(ngModel)]="text"><br>

<p class="material-icons">
  {{text}}
</p>
<!--<input type="text" [ngModel]="text"><br>-->
<!--{{text|uppercase}} &lt;!&ndash;          | - pipe     &ndash;&gt;-->
<!-- [(ngModel)]="text" ввод сожержащисйся в инпуте информации в [] html <- из скрипт   [()] <- -> ts -->

<!--<p>-->
  <!--{{text|currency:'USD': true}}-->
<!--<p>-->

<!--<p>-->
  <!--{{text|number: "2.2-7"}}-->
<!--<p>-->

<!--<p>-->
<!--{{text|percent}}-->
<!--<p>-->

<!--<p>-->
  <!--{{text|summary: 10}}-->
<!--</p>-->

<!--<p>-->
<!--{{text|summary: lim}}-->
<!--</p>-->
