/*.btn {*/
  /*background-color: #cccccc;*/
/*}*/
/*.active {*/
  /*background-color: blue;*/
  /*color: white;*/
/*}*/
.order-form {
  margin: 25px;
}

.order-pendorder {
  margin: 25px 25px 25px;
}
.container {
  margin-top: 30px;
}
