<!--<h1>Orders Applicatoin</h1>-->
<!--<div>-->
  <!--<app-lorem-pixel></app-lorem-pixel>-->
<!--</div>-->
<!--компонента-->
<div class="conteiner">
  <div class="card">
    <div class="card-body">
      <app-orders-list></app-orders-list>
    </div>
    <div class="card-body">
      <app-orders-form></app-orders-form>
    </div>
  </div>
</div>

<!--<img [src]="{{urlImage}}" alt=""> &#45;&#45; альтернативный синтаксис-->
<!--<img [src]="urlImage" alt="">-->
<!--<button class="btn" [class.active] = "isActive" (click)="tuggleActive()">-->
  <!--I AM A BUTTON-->
<!--</button>-->
<!--делаем компоненут лорен пиксел, указываем в ней размер картинки и категорию-->


