<div class="card-header" style="text-align: center">
  <h4>Coffee Order</h4>
</div>
<div class="card order-form">
  <app-coffee-order></app-coffee-order>
</div>
<div class="card order-pendorder">
  <app-coffee-order-pendorder></app-coffee-order-pendorder>
</div>

<!--<h1>Orders Applicatoin</h1>-->
<!--<div>-->
  <!--<app-lorem-pixel></app-lorem-pixel>-->
<!--<app-sync-input></app-sync-input>-->
<!--</div>-->
<!--компонента-->
<!--<div class="conteiner">-->
  <!--<div class="card">-->
    <!--<div class="card-body">-->
      <!--<app-orders-list></app-orders-list>-->
    <!--</div>-->
    <!--<div class="card-body">-->
      <!--<app-orders-form></app-orders-form>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<img [src]="{{urlImage}}" alt=""> &#45;&#45; альтернативный синтаксис-->
<!--<img [src]="urlImage" alt="">-->
<!--<button class="btn" [class.active] = "isActive" (click)="tuggleActive()">-->
  <!--I AM A BUTTON-->
<!--</button>-->
<!--делаем компоненут лорен пиксел, указываем в ней размер картинки и категорию-->

<!--<input type="text" [(ngModel)]="text"><br> &lt;!&ndash; [(ngModel)]="text" ввод сожержащисйся в инпуте информации в [] html <- из скрипт   [()] <- -> ts &ndash;&gt;-->
<!--<button class="btn" (click)="onClick_()">button</button>-->
<!--<app-like></app-like>-->

<!--<app-lorem-pixel width="450" height="450" [category]="category" (change)="onChange($event)"></app-lorem-pixel>-->
<!--<p>-->
  <!--{{category}}-->
<!--</p>-->
<!--<app-tweeeet [countLikes]="44"></app-tweeeet>-->
<!--<app-header-body></app-header-body>-->
