<ng-container class="header">
  <h3>Add new book</h3>
  <ng-container class="body">
    <form  [formGroup]="form" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="id">
          id
        </label>
          <input type="number" class="form-control" id="id" formControlName="id">
        <div class="alert alert-danger" *ngIf="id.invalid && id.touched">
          <div *ngIf="id.errors.requiered">
            id is requiered
          </div>
          <div *ngIf="id.errors.unique">
            id should be unique
          </div>
        </div>
      </div>
      <div class="form-group"><label for="title">title</label>
        <input type="text"
               class="form-control"
               id="title" formControlName="title">
      </div>
      <div class="form-group"><label for="author">author</label>
        <input type="text"
               class="form-control" id="author"
               formControlName="author">
      </div>
      <div class="form-group"><label for="feedback">feedback</label>
        <input type="text"
               class="form-control"
               id="feedback"
               formControlName="feedback"></div>
      <div class="form-group"><label >cover</label>
        <input type="text" class="form-control"
               formControlName="cover">
      </div>
      <button class="btn btn-outline-secondary" [disabled]="form.invalid" type="submit">Submit</button>
    </form>
  </ng-container>
</ng-container>
