<app-header-body>
  <ng-container class="header">
    <h1>
      Username-Password
    </h1>
  </ng-container>

  <ng-container class="body">
    <form [formGroup]="form" (submit)="submit()">
      <div class="form-group">
        <label for="username"></label>
        <input id="username" class="form-control" formControlName="username" type="text" name="username" required minlength="4" maxlength="20">
      </div>
      <div *ngIf="form.get('username').invalid && username.touched" class="alert alert-danger">
        <div *ngIf="username.errors.required"> username is required</div>
        <div *ngIf="username.errors.minlength"> must be minimum 4 letters</div>
      </div>
      <div class="form-group">
        <label for="password"></label>
        <input id="password" class="form-control" formControlName="password" type="text" name="password" required minlength="8" [pattern]="pattern">
      </div>
      <div *ngIf="password.invalid && password.touched" class="alert alert-danger">
        <div *ngIf="password.errors.required"> password is required</div>
        <div *ngIf="password.errors.minlength"> must be minimum 8 letters</div>
        <div *ngIf="password.errors.pattern"> no SPACES allowed</div>
        <div class="" *ngIf="password.errors.uppercase">
          uppercase missing
        </div>
        <div class="" *ngIf="password.errors.lowercase">
          lowercase missing
        </div>
        <div class="" *ngIf="password.errors.digit">
          digit missing
        </div>
        <div class="" *ngIf="password.errors.symbol">
          symbol missing
        </div>
      </div>
      <button class="btn btn-outline-secondary" [disabled]="form.invalid" type="submit">Submit</button>
    </form>
  </ng-container>
</app-header-body>
